body{
    /* background-color: #212121 */
    background-color: #212121
}

.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.card-body {
    padding: 10px;
}

.card-text {
    font-size: 1.1rem !important;
    /* font-weight: 400; */
}
.thumbnail{
    /* margin: 5px; */
    /* object-fit: contain; */
    width: 100%;
}

.jumbotron{
    background-color: #2E2E2E !important
}

.footnote{
    font-size: 12px;
}

.btn.btn-sm {
    padding: 6px 0.6rem;
}


#allComments {
    width: 90%;
    align-self: center;
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}